<% content_for :head do -%>
  <meta name="title" content="<%=@page.title%>">
<% end -%>
<!-- NO content for sidebar -->
<h1><%= @page.title.capitalize %></h1>
<div id="page_content">
  <%= raw @page.body %>
</div>
